@{
    ViewData["Title"] = "Home page";
    //Layout = null;
}

<head>
    <link rel="icon" href="~/images/checklist.png" type="image/x-icon" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
    <h1>Welcome to Quest log</h1>
    <p>Dealing with routine tasks by completing Quest</p>
    <p>Solving everyday tasks is going to be your epic reward and achievment</p>
    <div class="thumbnail">
        <img src="~/images/AdventureTime.jpg" alt="Adventure Time" style="width:100%"/>
    </div>
</body>